/*
$breakpoint argument choices:
0 - 600px:    phone
600 - 900px:  tab-port
900 - 1200px: tab-land
1200 - 1800px -> desktop first approach
1800+:        big-desktop

1em = 16px;
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.6%;
  /* 1rem = 10px;   10px / 16px = 62,5%
  chcemy ustawic 10px jako wielkosc fonta, podzielone przez 16px - wartosc domyslna fonta
  */ }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

p {
  font-size: 1.6rem; }

.btn-nav {
  border: 1px solid white;
  margin: 0;
  padding: 18px 9px;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s; }
  .btn-nav__bar {
    display: block;
    position: relative;
    width: 2rem;
    height: 3px;
    background-color: black; }
    .btn-nav__bar::before, .btn-nav__bar::after {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      background-color: black;
      width: 2rem;
      height: 3px; }
    .btn-nav__bar::before {
      top: -7px; }
    .btn-nav__bar::after {
      top: 7px; }
  .btn-nav:hover {
    background: white; }

.btn-nav:hover .navigation__nav-list {
  display: flex; }

.btn-square {
  position: relative;
  font-weight: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2; }
  .btn-square::before {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    background: white;
    position: absolute;
    right: -2rem;
    bottom: -1rem;
    z-index: -1;
    transform: rotate(0deg);
    transition: all 0.4s; }
  .btn-square:hover::before {
    transform: rotate(90deg); }

.main-header {
  width: 100%;
  height: 100vh;
  background: url("../img/header.jpg") no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .main-header .navigation .nav-bar {
    margin: 0 auto;
    padding: 5rem 3rem;
    width: 100%;
    max-width: 117rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-header .navigation .nav-bar__logo {
      font-family: "Poppins", sans-serif;
      font-size: 3rem;
      font-weight: 700;
      color: black; }
    @media only screen and (max-width: 75em) {
      .main-header .navigation .nav-bar {
        max-width: 90%;
        padding: 3rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .main-header .navigation .nav-bar {
        max-width: 100%; } }
  .main-header .navigation__nav-list {
    display: flex;
    flex-direction: column;
    background: #726bb1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20; }
  .main-header .navigation__nav-link {
    color: white;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 6rem; }
    .main-header .navigation__nav-link:hover {
      color: rgba(255, 255, 255, 0.6); }
  .main-header .header-content {
    margin: 0 auto;
    max-width: 117rem; }
    .main-header .header-content__slider {
      width: 60%;
      padding: 3rem 3rem 4rem;
      position: relative;
      z-index: 2; }
      .main-header .header-content__slider-subtitle {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 3.6rem;
        color: white;
        text-transform: uppercase;
        margin-bottom: 3rem; }
        @media only screen and (max-width: 56.25em) {
          .main-header .header-content__slider-subtitle {
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 2.5rem; } }
      .main-header .header-content__slider-title {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 7.2rem;
        color: #726bb1;
        line-height: 8rem;
        margin-bottom: 4rem; }
        @media only screen and (max-width: 56.25em) {
          .main-header .header-content__slider-title {
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 5rem;
            line-height: 6rem;
            margin-bottom: 3rem; } }
        @media only screen and (max-width: 37.5em) {
          .main-header .header-content__slider-title {
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 3.5rem;
            line-height: 4.5rem; } }
      .main-header .header-content__slider-text {
        font-family: "Roboto", sans-serif;
        font-size: 2.1rem;
        font-weight: 300;
        line-height: 3.5rem;
        margin-bottom: 6rem; }
        @media only screen and (max-width: 56.25em) {
          .main-header .header-content__slider-text {
            font-size: 1.8rem;
            line-height: 3rem; } }
      .main-header .header-content__slider::before {
        content: "";
        position: absolute;
        top: 0;
        left: -4rem;
        z-index: -1;
        display: block;
        width: 80%;
        height: 100%;
        border: 1rem solid white; }
      @media only screen and (max-width: 75em) {
        .main-header .header-content__slider {
          width: 80%;
          padding: 3rem 2rem 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .main-header .header-content__slider {
          width: 90%; } }
    @media only screen and (max-width: 75em) {
      .main-header .header-content {
        max-width: 90%; } }
    @media only screen and (max-width: 37.5em) {
      .main-header .header-content {
        max-width: 100%; } }
