@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.6%;
  /* 1rem = 10px;   10px / 16px = 62,5%
  chcemy ustawic 10px jako wielkosc fonta, podzielone przez 16px - wartosc domyslna fonta
  */ }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.main-header {
  width: 100%;
  height: 100vh;
  background: url("../img/header.jpg") no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 5rem; }
  .main-header .main-nav {
    max-width: 117rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .main-header .main-nav__logo {
      font-family: 'Poppins', sans-serif;
      font-size: 3rem;
      font-weight: 700;
      color: black; }
    .main-header .main-nav__button {
      width: 2rem;
      height: 3px;
      background-color: black;
      border: none; }
      .main-header .main-nav__button::before {
        content: ""; }
